# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Code Editors
.idea
.vscode
*.csproj
*.sln
*.swp

# Unity
/Library
/Temp

/Plugin/VisualStudio/.vs
/Plugin/VisualStudio/x64
/Plugin/VisualStudio/*.user

xcuserdata

/Plugin/Linux/build
